[submodule "vendor/zf2"]
	path = vendor/zf2
	url = https://github.com/zendframework/zf2.git
[submodule "module/KapitchiIdentity"]
	path = module/KapitchiIdentity
	url = git@github.com:matuszemi/KapitchiIdentity.git
[submodule "module/KapitchiBase"]
	path = module/KapitchiBase
	url = git@github.com:matuszemi/KapitchiBase.git
[submodule "module/KapitchiContact"]
	path = module/KapitchiContact
	url = git@github.com:matuszemi/KapitchiContact.git
[submodule "module/KapitchiContactIdentity"]
	path = module/KapitchiContactIdentity
	url = git@github.com:matuszemi/KapitchiContactIdentity.git
[submodule "module/KapitchiLocation"]
	path = module/KapitchiLocation
	url = git@github.com:matuszemi/KapitchiLocation.git
