[submodule "vendor/zf2"]
	path = vendor/zf2
	url = https://github.com/zendframework/zf2.git
[submodule "module/KapitchiIdentity"]
	path = module/KapitchiIdentity
	url = git@github.com:kapitchi/KapitchiIdentity.git
[submodule "module/KapitchiBase"]
	path = module/KapitchiBase
	url = git@github.com:kapitchi/KapitchiBase.git
[submodule "module/KapitchiContact"]
	path = module/KapitchiContact
	url = git@github.com:kapitchi/KapitchiContact.git
[submodule "module/KapitchiContactIdentity"]
	path = module/KapitchiContactIdentity
	url = git@github.com:kapitchi/KapitchiContactIdentity.git
[submodule "module/KapitchiLocation"]
	path = module/KapitchiLocation
	url = git@github.com:kapitchi/KapitchiLocation.git
[submodule "module/ZfcAcl"]
	path = module/ZfcAcl
	url = git@github.com:ZF-Commons/ZfcAcl.git
[submodule "module/ZfcBase"]
	path = module/ZfcBase
	url = git@github.com:kapitchi/ZfcBase.git
[submodule "module/KapitchiOpenId"]
	path = module/KapitchiOpenId
	url = git@github.com:kapitchi/KapitchiOpenId.git
[submodule "module/KapitchiFileManager"]
	path = module/KapitchiFileManager
	url = git@github.com:kapitchi/KapitchiFileManager.git
[submodule "vendor/ZendService-OAuth2"]
	path = vendor/ZendService-OAuth2
	url = git@github.com:matuszemi/ZendService-OAuth2.git
